.site-header {
	margin-bottom: 0em;
}

@font-face {
    font-family: '28_days_laterregular';
    src: url('fonts/28-days-later-webfont.woff2') format('woff2'),
         url('fonts/28-days-later-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}